:root{
    --main-color: rgb(250, 250, 250);
    --second-color: rgb(240, 240, 245);
    --third-color: rgb(235, 235, 240);
    --four-color: rgb(220, 220, 225);
    --second-none-transition: rgb(240, 240, 245);
    --text-color-b: black;
    --text-color-w: white;
    --text-color-3: rgb(100, 100, 100);
    --disabled-text-color: rgb(120, 120, 120);
    --true-color-1: rgb(25, 202, 85);
    --true-color-2: rgb(108, 221, 146);
    --select-color: rgb(0,0,0);
    --stat-color-1: rgb(111, 65, 65);
    --stat-color-2: rgb(125, 221, 213);
    --stat-color-3: rgb(126, 226, 122);
    --box-shadow-1: 1px 2px 10px -6px rgba(0, 0, 55, 0.9);
    --box-shadow-2: 1px 20px 60px -5px rgba(0, 0, 55, 0.2);
    --box-shadow-2-hover: 1px 20px 10px -20px rgba(0, 0, 55, 0.2);
    --box-shadow-3: 1px 20px 60px -5px rgba(0, 0, 55, 0.4);
    --box-shadow-4: 0px 2px 10px -6px var(--accent-color-second);
    --font-group:'Poppins', sans-serif;
    --icon-color-1: brightness(1);
    --icon-color-2: brightness(1);
    --icon-color-3: brightness(0.4);
    --icon-color-4: brightness(0);
    --icon-saturation-0: saturate(0);
}