.screen-off{
    display: none;
}

.starting-screen{
    opacity: 1;
    transition: 0.5s;
}

.starting-end{
    opacity: 0;
    transition: 0.5s;
}

.screen-change-mode{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: screen-bg-mode-1 , starting-anim;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    opacity: 0;
    transition: 0.5s;
}

.scrolling-disabled{
    overflow: hidden;
}

.screen-change-mode .sm-x{
    animation: scaling 0.5s cubic-bezier(0.19, 1, 0.22, 1)
}

.screen-change-mode .box-change{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    transition: 0s;
}

.screen-change-mode .box-change .icon-change{
    width: 64px;
    height: 64px;
    background-image: url("../img/icons/icons8_sun.ico");
    filter: saturate(0) brightness(0);
    background-position: center;
    background-size: cover;
    animation: screen-icon-anim-1 1.4s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 0.4s;
}

.screen-change-mode .text-change{
    margin: 0;
    height: 26px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
    animation: screen-text-mode-1 0.5s both;
    animation-delay: 0.4s;
    transition: 0s;
}

.screen-change-mode .text-change .text1{
    margin-right: 7px;
    animation: screen-text-change-mode-2 0.5s both cubic-bezier(0.23, 1, 0.320, 1);
    animation-delay: 0.8s;
    transition: 0s;
}

.screen-change-mode .text-change .text2{
    animation: screen-text-change-mode-1 0.5s both cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 1.5s;
    transition: 0s;
}

/* ---------- */

.screen-change-mode-2{
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: screen-bg-mode-2 , starting-anim;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    opacity: 0;
    transition: 0.5s;
}

.screen-change-mode-2 .box-change{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    overflow: hidden;
    transition: 0s;
}

.screen-change-mode-2 .box-change .icon-change{
    width: 64px;
    height: 64px;
    background-image: url("../img/icons/icons8_crescent_moon.ico");
    filter: saturate(0) brightness(0);
    background-position: center;
    background-size: cover;
    animation: screen-icon-anim-2 1.4s both cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-delay: 0.4s;
}

.screen-change-mode-2 .text-change{
    margin: 0;
    height: 26px;
    margin-top: 10px;
    font-size: 18px;
    font-weight: 300;
    overflow: hidden;
    animation: screen-text-mode-2 0.5s both;
    animation-delay: 0.4s;
    transition: 0s;
}

.screen-change-mode-2 .text-change .text1{
    margin-right: 7px;
    animation: screen-text-change-mode-2 0.5s both cubic-bezier(0.23, 1, 0.320, 1);
    animation-delay: 0.8s;
    transition: 0s;
}

.screen-change-mode-2 .text-change .text2{
    animation: screen-text-change-mode-1 0.5s both cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-delay: 1.5s;
    transition: 0s;
}

.screen-change-mode-2 .sm-x{
    animation: scaling 1s cubic-bezier(0.19, 1, 0.22, 1)
}

@keyframes scaling{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes starting-anim{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes screen-icon-anim-1{
    0%{
        transform: translateY(0px) scale(1);
        filter: brightness(11) saturate(0);
        background-image: url("../img/icons/icons8_sun.ico");
    }
    50%{
        transform: translateY(70px) scale(1);
        filter: brightness(11) saturate(0);
        background-image: url("../img/icons/icons8_sun.ico");
    }
    60%{
        transform: translateY(70px) scale(0.7);
        filter: brightness(11) saturate(0);
        background-image: url("../img/icons/icons8_crescent_moon.ico");
    }
    100%{
        transform: translateY(0px) scale(0.7);
        filter: brightness(11) saturate(0);
        background-image: url("../img/icons/icons8_crescent_moon.ico");
    }
}

@keyframes screen-icon-anim-2{
    0%{
        transform: translateY(0px) scale(0.7);
        filter: brightness(0) saturate(0);
        background-image: url("../img/icons/icons8_crescent_moon.ico");
    }
    50%{
        transform: translateY(70px) scale(0.7);
        filter: brightness(0) saturate(0);
        background-image: url("../img/icons/icons8_crescent_moon.ico");
    }
    60%{
        transform: translateY(70px) scale(1);
        filter: brightness(0) saturate(0);
        background-image: url("../img/icons/icons8_sun.ico");
    }
    100%{
        transform: translateY(0px) scale(1);
        filter: brightness(0) saturate(0);
        background-image: url("../img/icons/icons8_sun.ico");
    }
}

@keyframes screen-bg-mode-1{
    0%{
        background-color: rgb(40, 40, 50);
    }
    100%{
        background-color: rgb(40, 40, 50);
    }
}

@keyframes screen-bg-mode-2{
    0%{
        background-color: rgb(250, 250, 255);
    }
    100%{
        background-color: rgb(250, 250, 255);
    }
}

@keyframes screen-text-mode-1{
    0%{
        color: rgb(255, 255, 255);
    }
    100%{
        color: rgb(255, 255, 255);
    }
}

@keyframes screen-text-mode-2{
    0%{
        color: rgb(0, 0, 0);
    }
    100%{
        color: rgb(0, 0, 0);
    }
}

@keyframes screen-text-change-mode-1{
    0%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes screen-text-change-mode-2{
    0%{
        transform: translateX(45px);
    }
    100%{
        transform: translateX(0px);
    }
}